In [1]:
import re
import PyPDF2
import pandas as pd

def extract_columns_text(pdf_path, column_patterns):
    with open(pdf_path, 'rb') as file:
        reader = PyPDF2.PdfReader(file)
        
        extracted_columns = [[] for _ in column_patterns]
        
        for page in reader.pages:
            text = page.extract_text()
            
            for line in text.split('\n'):
                for i, pattern in enumerate(column_patterns):
                    match = re.search(pattern, line)
                    if match:
                        extracted_columns[i].append(match.group(1).strip())
    
    return extracted_columns

# Example usage
pdf_path = 's5.pdf'

# Define patterns for each column
column_patterns = [
    r'^(.+?)\s{2,}',  # First column
    r'\s{2,}(.+?)\s{2,}',  # Second column
    r'\s{2,}(.+?)$'  # Third column
]

# Define column names
column_names = ['Column1', 'Column2', 'Column3']  # Adjust these names as needed

# Extract the data
result = extract_columns_text(pdf_path, column_patterns)

# Create a dictionary from the extracted data
data_dict = {name: column for name, column in zip(column_names, result)}

# Create a pandas DataFrame
df = pd.DataFrame(data_dict)

# Display the first few rows of the DataFrame
print(df.head())

# Optionally, save the DataFrame to a CSV file
# df.to_csv('output.csv', index=False)

        Column1      Column2  \
0  CustomerName  PhoneNumber
1         Vansh   8448067969
2        Rishit   2055266365
3        Vedant   1045885241

                                             Column3
0  PhoneNumber                           Location...
1  8448067969                                 Hel...
2  2055266365                                 Del...
3  1045885241                                 Pun...

In [2]:
df

,Column1,Column2,Column3
0,CustomerName,PhoneNumber,PhoneNumber Location...
1,Vansh,8448067969,8448067969 Hel...
2,Rishit,2055266365,2055266365 Del...
3,Vedant,1045885241,1045885241 Pun...

In [3]:
df.to_csv('file1.csv')